---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Home">
	<main>
		<h2>Esta es mi pagina test, aca estoy probando muchas cosas de Astro🚀</h2>
	</main>


</Layout>

<style>
	h2 {
		color: white;
		font-size: 50px;
		width: 200px;
		margin: 50px auto;
	}

	main{
		margin: 0 auto;
		text-align: center;
	}

</style>
