---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Home">
	<div class="titulo">
		<h2>Esta es mi pagina test, aca estoy probando muchas cosas de Astro🚀</h2>
		<p>Aguante ASTRO.</p>
	</div>
</Layout>

<style>
	h2 {
		color: white;
		font-size: 80px;
		width: 200px;
		margin: 50px auto;
	}

	.titulo{
		margin: 0 auto;
		text-align: center;
	}

	p{
		color: wheat;
	}


</style>
