---
import Layout from '../layouts/Layout.astro';

import ButtonSubscribe from '../components/ButtonSubscribe';
import { ToastContainer } from 'react-toastify';
import 'react-toastify/dist/ReactToastify.css';


---

<Layout title="Home">
	<div class="titulo">
		<h2>Esta es mi pagina test, aca estoy probando muchas cosas de Astro🚀</h2>
	</div>
	<div class="newsletter">
		<span>Subscribete a mis newsletter</span>
		<input type="text">
		<ButtonSubscribe client:load></ButtonSubscribe>
		<ToastContainer client:load
	</div>
</Layout>

<style>
	h2 {
		color: white;
		font-size: 80px;
		width: 200px;
		margin: 50px auto;
	}

	.titulo{
		margin: 0 auto;
		text-align: center;
	}

	p{
		color: wheat;
	}

	.newsletter {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.newsletter span {
    font-size: 18px;
    font-weight: bold;
    display: block; /* Para que el texto esté en una línea nueva */
}

.newsletter input {
    padding: 10px;
    border: 1px solid #575757;
    border-radius: 5px;
    margin-top: 10px;
}


</style>
