---
import Layout from "../layouts/Layout.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Layout title="Sobre mi">
        <h1>Home</h1>
        <p>Asi se crean mas paginas</p>
    </Layout>
</body>
</html>