
<header>
    <nav>
        <ul class="menu">
            <li><a id="misServicios" href="/mis_servicios">Mis Servicios</a></li>
            <li><a id="sobreMi" href="/sobre_mi">Sobre Mí</a></li>
            <li><a id="inicio" href="/">Inicio</a></li>
        </ul>
    </nav>
</header>
<script>
        let pathname = window.location.pathname; // Obtener la URL actual
        let misServiciosLink = document.getElementById("misServicios");
        let sobreMiLink = document.getElementById("sobreMi");
        let inicioLink = document.getElementById("inicio");

        // Comparar el pathname actual con las rutas y aplicar el estilo activo
        if (pathname === "/mis_servicios") {
            misServiciosLink?.classList.add("activo");
        } else if (pathname === "/sobre_mi") {
            sobreMiLink?.classList.add("activo");
        } else if (pathname === "/") {
            inicioLink?.classList.add("activo");
        }
</script>
<style>

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
   
}

nav ul.menu li {
    display: inline;
    margin: 0 10px;
    transition: 2s;
}

nav ul.menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    
}

nav ul.menu li a.activo {
    color: grey;
    font-size: 120%;
}


</style>