---
export const prerender = false;

const {pathname} = Astro.url
console.log(pathname)
---

<header>
    <nav>
        <ul class="menu">
            <li><a href="/mis_servicios">Mis Servicios</a></li>
            <li><a href="/sobre_mi">Sobre Mí</a></li>
            <li><a href="/">Inicio</a></li>
        </ul>
    </nav>
</header>

<style>


header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: -10px;
}

nav ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
   
}

nav ul.menu li {
    display: inline;
    margin: 0 10px;
    transition: 2s;
}

nav ul.menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    
}

nav ul.menu li a.activo {
    color: gray;
    font-size: 120%;
}


</style>
