---
interface Props{// interface que define os tipos de dados que seran recebidos
    title?: string
    body?: string
}

const {body= "Defult Content", title="Default title"} = Astro.props
---

<div>
    <h1>{title}</h1>
    <p>{body}</p>
</div>

<style>
    div {
        background-color: #f1f1f1;
        padding: 20px;
        margin: 20px;
        border-radius: 5px;
        box-shadow: white 0px 0px 10px;
    }
    h1 {
        color: #000;
        font-size: 20px;
        font-weight: bold;
    }
    p {
        color: #000;
        font-size: 16px;
    }
</style>