---
interface Props{// interface que define os tipos de dados que seran recebidos
    title?: string
    body?: string
}
const numerorandomEntreTresYUno = Math.floor(Math.random() * 3);

const urlTecnologias = ["https://equk.co.uk/media/logos/astro.svg", "https://cdn.icon-icons.com/icons2/2389/PNG/512/react_logo_icon_144942.png", "https://i0.wp.com/seeklogo.com/images/J/javascript-logo-851B872133-seeklogo.com.png"]

const imagenesDeProyectos = ["https://th.bing.com/th/id/OIG.cmda5v6PAsrS4sPhU_yh?pid=ImgGn","https://th.bing.com/th/id/OIG.y1Vgr6RRPMFEpECanVE7?pid=ImgGn", "https://th.bing.com/th/id/OIG.SvocvDLVpBNOWxpKF9MX?pid=ImgGn"]

const {body= "Defult Content", title="Default title"} = Astro.props
---

<div>
    <h1>{title.trim().replace(/^\w/, (c) => c.toUpperCase()) }</h1>
    <p>{body.trim().replace(/^\w/, (c) => c.toUpperCase())}.</p>
    <img class="imagenFondo"src={urlTecnologias[numerorandomEntreTresYUno]} alt="">
</div>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap');

div {
    background-color: rgb(31, 31, 31);
    padding: 10px 20px 10px 20px;
    margin: 20px;
    border-radius: 5px;
    width: 400px;
    height: 200px;
    position: relative;
    overflow: hidden;
    color: w
    
}

h1 {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    color: rgb(196, 196, 196);
    
}

p {
    color: #000;
    font-size: 16px;
    position: relative;
    z-index: 2;
    color: rgb(196, 196, 196);
}

.imagenFondo {
    position: absolute;
    width: 150px;
    bottom: -20px;
    right: 0;
    z-index: 1;
    transition: transform 0.5s ease, bottom 0.5s ease; /* Aplicar la transición aquí */
}



.imagenProyecto{
    position: absolute;
    width: 450px;
    bottom: -400px;
    left: 0;
    z-index: 0;
    transition: transform 0.5s ease, bottom 0.5s ease; /* Aplicar la transición aquí */
}




</style>